<div [@routerTransition]>
    <form *ngIf="active" class="col-12" #customerForm="ngForm" novalidate autocomplete="off">
        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="mkt-subheader__title">
                            <span>{{ l("CustomerDetails") }}</span>
                        </h3>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button (click)="close()" [disabled]="saving" class="btn btn-outline-danger">
                                {{ l("Close") }}
                            </button>
                            <button *ngIf="isGranted('Pages.Administration.Customers.Manage')" (click)="editCustomer()"
                                class="btn btn-primary">
                                <i class="fa fa-plus"></i> {{ l("EditCustomer") }}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row align-items-center">

                        <div class="col-4">
                            <h5>{{l("IsActive")}}</h5>
                            <span class="kt-switch kt-switch--icon-check">
                                <label>
                                    <input type="checkbox" disabled name="isActive" value="true" [(ngModel)]="customer.isActive">
                                    <span></span>
                                </label>
                            </span>
                        </div>

                        <div class="col-4 form-group">
                            <label for="customer_Code" class="required">{{l("Code")}}</label>
                            <input type="text" id="customer_Code" class="form-control" [(ngModel)]="customer.code"
                                name="Code" required disabled />
                        </div>

                        <div class="col-3 text-center">
                            <img [src]="customer.personalPhoto" class="img-border" width="200" height=250
                                *ngIf="customer.personalPhoto" />
                            <img src="../../../assets/common/images/default-profile-picture.png" width="200" height=200
                                *ngIf="!customer.personalPhoto" />
                        </div>
                        <div class="col-4 form-group">
                            <label for="Customer_FullName">{{l("FullName")}}</label>
                            <input type="text" disabled id="Customer_FullName" class="form-control"
                                [(ngModel)]="customer.fullName" name="FullName" />
                        </div>
                        <div class="col-4 form-group">
                            <label for="Customer_DateOfBirth">{{l("DateOfBirth")}}</label>
                            <input type="text" disabled id="Customer_DateOfBirth" class="form-control"
                                [value]="customer.dateOfBirth | momentFormat :  'DD/MM/YYYY'" name="DateOfBirth"  />
                        </div>

                        <div class="col-4 form-group">
                            <label for="Nationality" >{{l("Nationality")}}</label>
                            <input type="text" disabled name="Nationality" class="form-control"
                                [(ngModel)]="customer.nationality" />
                        </div>
                        <div class="col-4 form-group">
                            <label for="genderId" >{{l("Gender")}}</label>
                            <input type="text" name="gender" disabled class="form-control"
                                [(ngModel)]="customer.gender" />
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="customer_email">{{l("Email")}}</label>
                                <input type="email" name="Nationality" disabled id="customer_email" class="form-control"
                                    [(ngModel)]="customer.email" name="Email" />
                            </div>
                        </div>
                        <div class="col-4 form-group">
                            <label for="customer_primaryMobileNumber">{{l("PrimaryMobileNumber")}}</label>
                            <input type="number" id="Customer_primaryMobileNumber" disabled class="form-control"
                                [(ngModel)]="customer.primaryMobileNumber" name="PrimaryMobileNumber" />
                        </div>
                        <div class="col-4 form-group">
                            <label for="customer_SecondaryMobileNumber">{{l("SecondaryMobileNumber")}}</label>
                            <input type="number" id="Customer_SecondaryMobileNumber" disabled class="form-control"
                                [(ngModel)]="customer.secondaryMobileNumber" name="SecondaryMobileNumber" />
                        </div>

                        <div class="col-4 form-group">
                            <label for="MaritalStatus">{{l("MaritalStatus")}}</label>
                            <input type="text" disabled class="form-control" name="MaritalStatus"
                                [(ngModel)]="customer.maritalStatus" />
                        </div>
                        <div class="col-4 form-group">
                            <label for="Customer_NoOfDependencies">{{l("NoOfDependencies")}}</label>
                            <input type="number" disabled id="Customer_NoOfDependencies" class="form-control"
                                [(ngModel)]="customer.noOfDependencies" name="NoOfDependencies" />
                        </div>


                        <div class="col-md-4 form-group">
                            <label for="countryId">{{l("Country")}}</label>
                            <input type="text" disabled class="form-control" name="Country"
                                [(ngModel)]="customer.country" />
                        </div>

                        <div class="col-4 form-group">
                            <label for="regionId">{{l("Region")}}</label>
                            <input type="text" disabled class="form-control" name="Region"
                                [(ngModel)]="customer.region" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="cityId">{{l("City")}}</label>
                            <input type="text" disabled class="form-control" name="City"
                                [(ngModel)]="customer.city" />
                        </div>
                        <div class="col-4 form-group">
                            <label for="Customer_Address">{{l("Address")}}</label>
                            <textarea id="Customer_Address" disabled class="form-control" [(ngModel)]="customer.address"
                                name="Address"></textarea>
                        </div>

                        <div class="col-4 form-group">
                            <label for="Customer_Notes">{{l("Notes")}}</label>
                            <textarea id="Customer_Notes" disabled class="form-control" [(ngModel)]="customer.notes"
                                name="Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>