<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="mkt-subheader__title">
                        <span>{{ l("Invoices") }}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                    <span class="kt-subheader__desc">
                        {{ l("InvoicesHeaderInfo") }}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <!-- <button (click)="exportToExcel()" *ngIf="isGranted('Pages.Administration.Customers.Export')"
                            [disabled]="!primengTableHelper || !primengTableHelper.records ||  primengTableHelper.records.length == 0"
                            class="btn btn-outline-success">
                            {{ l("ExportToExcel") }}
                        </button> -->
                        <button *ngIf="isGranted('Pages.Administration.Invoices.Manage')" (click)="createInvoice()"
                            class="btn btn-primary">
                            <i class="fa fa-plus"></i> {{ l("CreateNewInvoice") }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text" />
                                        <span class="input-group-btn">
                                            <button (click)="getInvoices()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>

                            <!-- Invoice Statuses -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Classes">{{ l("InvoiceStatus") }}</label>
                                    <p-autoComplete [(ngModel)]="invoiceStatues" [suggestions]="filteredInvoiceStatues"
                                        (completeMethod)="filterInvoiceStatues($event)" field="name"
                                        placeholder="{{ l('InvoiceStatus') }}" [minLength]="searchMinLength"
                                        name="ClassMultiSelectInput" id="ClassMultiSelectInput" [multiple]="true"
                                        styleClass="width-percent-100" [forceSelection]="true">
                                    </p-autoComplete>
                                </div>
                            </div>

                              <!-- Invoice Types -->
                              <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Classes">{{ l("InvoiceType") }}</label>
                                    <p-autoComplete [(ngModel)]="invoiceTypes" [suggestions]="filteredInvoiceTypes"
                                        (completeMethod)="filterInvoiceTypes($event)" field="name"
                                        placeholder="{{ l('InvoiceType') }}" [minLength]="searchMinLength"
                                        name="TypesMultiSelectInput" id="TypesMultiSelectInput" [multiple]="true"
                                        styleClass="width-percent-100" [forceSelection]="true">
                                    </p-autoComplete>
                                </div>
                            </div>

                            <!-- Start Data -->
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="StartDate">{{ l("FromDate") }}</label>
                                    <div class="input-group">
                                        <input id="StartDatePicker" placeholder="{{ l('FromDate') }}"
                                            style="border: gray 1px solid;background-color: transparent !important"
                                            readonly type="text" #StartDatePicker name="StartDatePicker"
                                            class="form-control" [(ngModel)]="startDate"
                                            [bsConfig]="{  showWeekNumbers : false, dateInputFormat: 'YYYY/MM/DD' }"
                                            bsDatepicker (bsValueChange)="onChangeStartDate($event)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="border: solid gray 1px"
                                                (click)="resetStartDate()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- End Date -->
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="DelegatedEmployees">{{ l("ToDate") }}</label>
                                    <div class="input-group">
                                        <input id="EndDatePicker" placeholder="{{ l('ToDate') }}"
                                            style="border: gray 1px solid; background-color: transparent !important"
                                            readonly type="text" #EndDatePicker name="EndDatePicker"
                                            class="form-control" [(ngModel)]="endDate"
                                            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
                                            (bsValueChange)="onChangeEndDate($event)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="border: solid gray 1px"
                                                (click)="resetEndDate()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <!-- Buttons -->
                            <div class="col-md-3">
                                <p style="margin-top: -7px;"><br /></p>
                                <button class="btn btn-primary" type="button" (click)="getInvoices()"><i
                                        class="flaticon-search-1"></i>
                                    {{ l("Search") }}</button>
                                <span>&nbsp;&nbsp;</span>
                                <button class="btn btn-default" type="button" (click)="resetFilters()"><i
                                        class="flaticon-delete-1"></i>
                                    {{ l("Reset") }}</button>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i>
                                    {{ l("ShowAdvancedFilters") }}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i>
                                    {{ l("HideAdvancedFilters") }}</span>
                            </div>
                        </div>

                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getInvoices($event)" [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.Invoices.Manage')">
                                        {{ l("Actions") }}
                                    </th>
                                    <th style="width: 130px">
                                        {{ l("InvoiceNo") }}
                                    </th>
                                    <th style="width: 150px">
                                        {{ l("CustomerName") }}
                                    </th>
                                    <th style="width: 100px">
                                        {{ l("Status") }}
                                    </th>
                                    <th style="width: 130px">
                                        {{ l("InvoiceType") }}
                                    </th>
                                    <th style="width: 100px">
                                        {{ l("NetAmount") }}
                                    </th>
                                    <th style="width: 150px">
                                        {{ l("CreatedOn") }}
                                    </th>
                                    <th style="width: 130px">
                                        {{ l("CreatedBy") }}
                                    </th>
                                    <th style="width: 150px">
                                        {{ l("Notes") }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.Customers.Manage')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{ l("Actions") }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewInvoice(record.id)">{{ l("View") }}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="editInvoice(record.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="deleteInvoice(record.id)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:130px">
                                        <span class="ui-column-title"> {{ l("InvoiceNo") }}</span>
                                        {{ record.invoiceNo }}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{ l("CustomerName") }}</span>
                                        {{ record.customerName }}
                                    </td>
                                    <td style="width:100px">
                                        <span class="ui-column-title"> {{ l("Status") }}</span>
                                        {{ record.statusName }}
                                    </td>
                                    <td style="width:130px">
                                        <span class="ui-column-title"> {{ l("InvoiceType") }}</span>
                                        {{ record.invoiceType }}
                                    </td>
                                    <td style="width:100px">
                                        <span class="ui-column-title"> {{ l("NetAmount") }}</span>
                                        {{ record.netAmount }}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{ l("CreatedOn") }}</span>
                                        {{ record.createdOn | momentFormat : 'DD/MM/YYYY hh:mm a' }}
                                    </td>
                                    <td style="width:130px">
                                        <span class="ui-column-title"> {{ l("CreatedBy") }}</span>
                                        {{ record.createdBy }}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{ l("Notes") }}</span>
                                        {{ record.notes }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l("NoData") }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" #paginator
                                (onPageChange)="getInvoices($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
</div>